@import "../../style/config";

.Images {
  @include Media-grid;
  display: flex;
  flex-direction: column;

  &__main {
    display: flex;
    order: 1;
    flex: 9;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    img {
      height: 100%;
      width: auto;
      object-fit: cover;
    }
  }

  &__nav {
    display: flex;
    order: 2;
    flex: 1;
    justify-content: center;
    align-items: flex-end;

    img {
      width: auto;
      height: calc(100% - 3px);
      object-fit: cover;
      padding: 1px;
    }
  }
  background-color: rgba(0, 0, 0, 0.12);
  webkit-box-shadow: 15px 20px 81px 0px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 15px 20px 81px 0px rgba(0, 0, 0, 0.28);
  box-shadow: 15px 20px 81px 0px rgba(0, 0, 0, 0.28);
  border-radius: 5px;
}
