@import "../../style/config";

.BodyText {
  @include BodyText-grid;
  text-align: left;
  margin-right: 10px;
  position: relative;

  .ToggleButton {
    padding-top: 15px;
    width: 100%;
    button {
      width: 100%;
      color: green;
    }
  }
  em {
    font-style: $italic;
  }
  em:after {
    content: "\a\a";
    white-space: pre;
  }
}
