@import "../../style/config";

.Title {
  @include Title-grid;
  font-size: 20pt;
  font-family: $fontSecondary;
  // display: flex;
  // align-items: flex-end;
  // justify-content: center;
  h1 {
    width: auto;
    height: 100%;
    padding-top: 10px;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    position: absolute;
    pointer-events: none;
  }
}
