@import "../../style/config";

.VideoPlayer {
  @include Media-grid;

  display: flex;
  flex-direction: column;

  min-height: 100%;
  max-width: 100%;
  background-color: pink;

  &__main {
    order: 1;
    flex: 9;
    .mediaPlayer {
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
      iframe {
        min-height: 100%;
        width: 100%;
        margin: auto;
      }
    }
  }
  &__nav {
    display: flex;
    order: 2;
    flex: 1;
    justify-content: center;
    align-items: flex-end;
  }
}
