@import "../../style/config";

.WorkIndex {
  @include WorkIndex-grid;
  text-align: left;
  font-size: $bodyRegular;
  p {
    font-style: $italic;
  }
  a {
    display: block;
    line-height: 20px;
    text-decoration: none;
    color: black;
  }
}
