@import "../../style/config";

.WorkIndex {
  @include WorkIndex-grid;

  padding: 8px;
  // position: fixed;
  text-align: left;
  // background: $primary;
  a {
    display: block;
    line-height: 20px;
  }
}
