@import "../../style/config";

.WorkIndex {
  left: 5px;
  top: 5vh;
  padding: 8px;
  position: fixed;
  text-align: left;
  background: $primary;
  a {
    display: block;
    line-height: 20px;
  }
}
