@import "../../style/config";

.Homepage {
  // background-color: aqua;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-gap: 10px;
  grid-template: 1fr 12fr 1fr / 2fr 7fr 3fr;

  &__Navigation {
    // background-color: red;
    grid-row: 1;
    grid-column: 1;
  }

  &__Logo {
    // background-color: darkgreen;
    grid-row: 1;
    grid-column: 3;
  }
}
